{% extends 'snippet/layout.html' %}

{% block main %}
    <div class="container-box">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
        <form class="form-horizontal" action='' method="POST">
          {{ form.hidden_tag() }}
            <fieldset>
                <div id="legend">
                    <legend class="">用户密码设置</legend>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password_old">{{ form.current_password.label }}</label>
                    <div class="controls">
                        <!-- <input type="password" id="password_old" name="password_old" placeholder="" class="input-xlarge"> -->
                        {{ form.current_password(class='input-xlarge') }}
                        <p class="help-block">密码不少于4个字符</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">{{ form.new_password.label }}</label>
                    <div class="controls">
                        <!-- <input type="password" id="password" name="password" placeholder="" class="input-xlarge"> -->
                        {{ form.new_password(class='input-xlarge') }}
                        <p class="help-block">密码不少于4个字符</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password_confirm">{{ form.new_password_confirm.label }}</label>
                    <div class="controls">
                        <!-- <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"> -->
                        {{ form.new_password_confirm(class='input-xlarge') }}
                        <p class="help-block">请再次输入新密码</p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <!-- <button class="btn btn-success">保存改动</button> -->
                        {{ form.submit(class='btn btn-success') }}
                        <a href="/setting" class="ml10 btn">返回设置页</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidenav container-box">
        <ul>
            <li><a href="/setting">用户中心</a></li>
            <li><a href="/setting/avatar">设置头像</a></li>
            <li class="current"><a href="/setting/password">设置密码</a></li>
            <li><a href="/">返回首页</a></li>
        </ul>
    </div>
{% endblock %}
