{% extends 'snippet/layout.html' %}

{% block main %}
<style>
.pagination .page-info{
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 26px;
  margin: 0 7px 0 0;
  color: #999;
}
</style>
    {#
    <ul class="news container-box">
        <li><a href="#">HTML5(目前)无法帮你实现的五件事</a></li>
        <li><a href="#">DNS优化的原理和方法</a></li>
        <li><a href="#">浅谈互联网产品前期设计方法</a></li>
        <li><a href="#">如何在Google成为优秀的产品经理?</a></li>
        <li><a href="#">页面前端的水有多深？</a></li>
        <li><a href="#">如何利用互联网工具调研网站</a></li>
    </ul>
    #}

    <div class="topics container-box deprecated-mt10">
      <div class="ui-header">
        <div class="dropdown fr">
            <a class="btn btn-small" type="button" href="###" data-toggle="dropdown">创建新主题</a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                {% for node in nodes %}
                <a role="menuitem" href="/t/create/{{ node.slug }}">{{ node.name }}</a>
                {% endfor %}
              </li>
            </ul>
        </div>
        <span class="bread-nav">
          {% for node in nodes %}
          <a class="node-link" href="/node/{{ node.slug }}">{{ node.name }}</a>
          {% endfor %}
        </span>
      </div>
        {% for topic in topics %}
            <div class="topic-item">
                <a href="/u/{{ topic.username }}">
                    <img src="/static/avatar/m_{{ topic.avatar or 'default.png' }}" alt="" class="avatar" />
                </a>
                <div class="main">
                    <h3 class="title">
                        <a href="/t/{{ topic.Topic.id }}#reply{{ topic.Topic.reply_count or 0 }}">{{ topic.Topic.title }}</a>
                    </h3>
                    <div class="meta">
                        <span class="node"><a href="/node/{{ topic.slug }}">{{ topic.name }}</a></span> •
                        <span class="username">
                            <a href="/u/{{ topic.username or topic.Topic.author_id }}">{{ topic.username }}</a>
                        </span> •
                        {% if topic.Topic.last_replied_time %}
                            <span class="last-touched">{{ moment(topic.Topic.last_touched).fromNow(refresh=True) }}</span> •
                            <span class="last-reply-username">最后回复来自
                                <a href="/u/{{ topic.Topic.last_replied_by }}">
                                    <strong>{{ topic.Topic.last_replied_by }}</strong>
                                </a>
                            </span>
                        {% else %}
                            <span class="last-touched">{{ moment(topic.Topic.created).fromNow(refresh=True) }}</span>
                        {% endif %}
                    </div>
                </div>
                {% if topic.Topic.reply_count %}
                    <div class="count">
                        <a href="/t/{{ topic.Topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.Topic.reply_count or 0 }}</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="pagination">
          <span class="page-info">共{{ pagination.pages }}页</span>
        <ul>

          <li {% if not pagination.has_prev %} class="disabled" {% endif %}><a href="{% if pagination.has_prev %}{{ url_for('main.index',p=pagination.prev_num) }} {% else %}{{url_for('main.index',p=pagination.page)}}{% endif %}">«</a></li>
          {% for p in pagination.iter_pages() %}
            {% if p %}
              {% if p == pagination.page %}
              <li class="active">
                <a href="javascript:;">{{ pagination.page }}</a>
              </li>
              {% else %}
              <li>
                <a href="{{ url_for('main.index', p=p) }}">{{ p }}</a>
              </li>
              {% endif %}
            {% else %}
            <li class="disabled">
              <a href="#">&hellip;</a>
            </li>
            {% endif %}
          {% endfor %}
          <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for('main.index',p=pagination.next_num) }} {% else %}{{url_for('main.index',p=pagination.page)}}{% endif %}">
              »
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="nodes-cloud container-box mt10">
        <h4 class="title">
            <span class="octicon octicon-globe"></span>
            常见节点导航
        </h4>
        <ul>
            {% for plane in planes %}
                <li>
                    <label for="">{{ plane['planename'] }}</label>
                    <span class="nodes">
                      {% for node in plane['plane_node'] %}
                      <a href="/node/{{ node['slug'] }}">{{ node['name'] }}</a>
                      {% endfor %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    {% if current_user.is_authenticated %}
        <div class="usercard container-box">
            <div class="ui-header">
                <a href="/u/{{ current_user.username }}">
                    <img src="/static/avatar/m_{{ current_user.avatar or 'default.png' }}" alt="" class="avatar" />
                </a>
                <div class="username">{{ current_user.username }}</div>
                <div class="website"><a href="{{ current_user.website or '' }}">{{ current_user.website or '' }}</a></div>
            </div>
            <div class="ui-content">
                <div class="status status-topic">
                    <strong><a href="/u/{{ current_user.username }}/topics">{{ user_topic_count }}</a></strong> 主题
                </div>
                <div class="status status-reply">
                    <strong><a href="/u/{{ current_user.username }}/replies">{{ user_reply_count }}</a></strong> 回复
                </div>
                <div class="status status-favorite">
                    <strong><a href="/u/{{ current_user.username }}/favorites">{{ user_favorite_count }}</a></strong> 收藏
                </div>
                <div class="status status-reputation">
                    <strong>{{ current_user.reputation or 0 }}</strong> 威望
                </div>
            </div>
        </div>
        {#
        {% if user_info.notifications %}
            <div class="alert mt10 mb10">
                <span>
                    <a href="/notifications">{{ user_info.nickname or user_info.username }}，你有{{ user_info.notifications }}条未读提醒，去看看吧</a>
                </span>
            </div>
        {% endif %}
        #}

    {% else %}
        <div class="login-box container-box">
            <div class="ui-content tc">
                <a class="btn btn-small mr10" type="button" href="/login">登录</a>
                <a class="btn btn-small mr10" type="button" href="/register">注册</a>
                <a class="btn btn-small" type="button" href="/forgot">找回密码</a>
            </div>
        </div>
    {% endif %}

    <div class="sidebox container-box mt10 hot-nodes">
        <div class="ui-header">
            <span class="title">最热节点</span>
        </div>
        <div class="ui-content">
            {% for node in hot_nodes %}
                <a href="/node/{{ node.slug }}">{{ node.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="sidebox container-box mt10 friends">
        <div class="ui-header">
            <span class="title">我们的标志</span>
        </div>
        <div class="ui-content">
            <p><a href="http://f2e.im"><img src="/static/images/f2e.im.logo.png" alt="" /></a></p>
        </div>
    </div>


    <div class="sidebox container-box mt10 community-status">
        <div class="ui-header">
            <span class="title">运行状态</span>
        </div>
        <div class="ui-content">
            <dl>
                <dt>注册成员</dt>
                <dd>{{ user_count }}</dd>
            </dl>
            <dl>
                <dt>节点</dt>
                <dd>{{ node_count }}</dd>
            </dl>
            <dl>
                <dt>主题</dt>
                <dd>{{ topic_count }}</dd>
            </dl>
            <dl>
                <dt>回复</dt>
                <dd>{{ reply_count }}</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
