{% extends 'snippet/layout.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite.css') }}" />
{% endblock %}

{% block main %}
<style>
.pagination .page-info{
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 26px;
  margin: 0 7px 0 0;
  color: #999;
}
</style>

    <div class="replies-lists container-box user-replies">
        <div class="ui-header">
            <span class="bread-nav"><a href="{{ url_for('main.index') }}">F2E</a> › <a href="/u/{{ user_info.username }}">{{ user_info.username }}</a> › 回复列表</span>
        </div>

        <div class="ui-content">
            {% for reply in replies %}
                <div class="reply-item">
                    <div class="main">
                        <span class="title">
                            回复了 {{ reply.username }} 创建的主题 <a href="/t/{{ reply.id }}">{{ reply.title }}</a>
                            <div style="float:right;text-align:right"><span>{{ moment(reply.Reply.created).fromNow(refresh=True) }}</span></div>
                        </span>
                        <div class="content">
                            {{ reply.Reply.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not replies %}
                <div class="pl10 pr10">
                    <div class="alert mt20 no-replies">
                        该用户暂时还没有回复过主题。
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="pagination" style="float:right; margin:5px 0px;">
          <span class="page-info">共{{ pagination.pages }}页</span>
        <ul>

          <li {% if not pagination.has_prev %} class="disabled" {% endif %}><a href="{% if pagination.has_prev %}{{ url_for('main.user_replies',username=user_info.username, p=pagination.prev_num) }} {% else %}{{url_for('main.user_replies',username=user_info.username ,p=pagination.page)}}{% endif %}">«</a></li>
          {% for p in pagination.iter_pages() %}
            {% if p %}
              {% if p == pagination.page %}
              <li class="active">
                <a href="javascript:;">{{ pagination.page }}</a>
              </li>
              {% else %}
              <li>
                <a href="{{ url_for('main.user_replies',username=user_info.username, p=p) }}">{{ p }}</a>
              </li>
              {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
          {% endfor %}
          <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for('main.user_replies',username=user_info.username ,p=pagination.next_num) }} {% else %}{{url_for('main.user_replies',username=user_info.username ,p=pagination.page)}}{% endif %}">
              »
            </a>
          </li>
        </ul>
      </div>

    </div>
{% endblock %}

{% block sidebar %}
    <div class="usercard container-box">
        <div class="ui-header">
            <a href="/u/{{ user_info.username }}">
                <img src="/static/avatar/m_{{ user_info.avatar or 'default.png' }}" alt="" class="avatar" />
            </a>
            <div class="username">{{ user_info.username }}</div>
            <div class="website"><a href="{{ user_info.website or '' }}">{{ user_info.website or '' }}</a></div>
        </div>
        <div class="ui-content">
            <div class="status status-topic">
                <strong><a href="/u/{{ user_info.username }}/topics">{{ user_topic_count }}</a></strong> 主题
            </div>
            <div class="status status-reply">
                <strong><a href="/u/{{ user_info.username }}/replies">{{ user_reply_count }}</a></strong> 回复
            </div>
            <div class="status status-favorite">
                <strong><a href="/u/{{ user_info.username }}/favorites">{{ user_favorite_count }}</a></strong> 收藏
            </div>
            <div class="status status-reputation">
                <strong>{{ user_info.reputation or 0 }}</strong> 威望
            </div>
        </div>
    </div>
</div>
{% endblock %}
