{% extends 'snippet/layout.html' %}

{% block main %}
    <div class="topics container-box user-topics">
        <div class="ui-header">
            <span class="bread-nav"><a href="{{ url_for('main.index') }}">F2E</a> › <a href="/u/{{ user_info.username }}">{{ user_info.username }}</a> › 收藏的主题列表</span>
        </div>

        <div class="ui-content">
            {% for favorite in favorites %}
                <div class="topic-item">
                    <a href="/u/{{ favorite.User.username }}">
                        <img src="/static/avatar/m_{{ favorite.User.avatar or 'default.png' }}" alt="" class="avatar" />
                    </a>
                    <div class="main">
                        <h3 class="title">
                            <a href="/t/{{ favorite.Topic.id }}">{{ favorite.Topic.title }}</a>
                        </h3>
                        <div class="meta">
                            <span class="node"><a href="/node/{{ favorite.Node.slug }}">{{ favorite.Node.name }}</a></span> •
                            <span class="username">
                                <a href="/u/{{ favorite.User.username or favorite.User.uid }}">{{ favorite.User.username }}</a>
                            </span> •
                            {% if favorite.Topic.last_replied_time %}
                                <span class="last-touched">{{ moment(favorite.Topic.last_touched).fromNow(refresh=True) }}</span> •
                                <span class="last-reply-username">最后回复来自
                                    <a href="/u/{{ favorite.Topic.last_replied_by }}">
                                        <strong>{{ favorite.Topic.last_replied_by }}</strong>
                                    </a>
                                </span>
                            {% else %}
                                <span class="last-touched">{{ moment(favorite.Topic.created).fromNow(refresh=True) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if favorite.Topic.reply_count %}
                        <div class="count">
                            <a href="/t/{{ favorite.id }}">{{ favorite.Topic.reply_count or 0 }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if not favorites %}
                <div class="pl10 pr10">
                    <div class="alert mt20 no-favorites">
                        该用户暂时还没有收藏过主题。
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block sidebar %}
    <div class="usercard container-box">
        <div class="ui-header">
            <a href="/u/{{ user_info.username }}">
                <img src="/static/avatar/m_{{ user_info.avatar or 'default.png' }}" alt="" class="avatar" />
            </a>
            <div class="username">{{ user_info.username }}</div>
            <div class="website">{{ user_info.website or '' }}</div>
        </div>
        <div class="ui-content">
            <div class="status status-topic">
                <strong><a href="/u/{{ user_info.username }}/topics">{{ user_topic_count }}</a></strong> 主题
            </div>
            <div class="status status-reply">
                <strong><a href="/u/{{ user_info.username }}/replies">{{ user_reply_count }}</a></strong> 回复
            </div>
            <div class="status status-favorite">
                <strong><a href="/u/{{ user_info.username }}/favorites">{{ user_favorite_count }}</a></strong> 收藏
            </div>
            <div class="status status-reputation">
                <strong>{{ user_info.reputation or 0 }}</strong> 威望
            </div>
        </div>
    </div>
</div>
{% endblock %}
